## Business Applications for Python Assignment III
### Collections - Lists, Dictionaries, Tuples, and Sets

#### Problem 1
This problem is about list operations.  Look back at our notes and feel free to research how to perform the following operations.

a. Create an empty list called 'days'

b. Add string element "Monday" to list 'days'.

c. Add string elements "Wednesday", "Thursday", "Thursday", "Friday", "Saturday", "Sunday", "Monday" into list 'days' using one line of code.

d. Insert the element "Tuesday" at the appropriate location in the list so that the days of the week are in order.

e. Remove the last item in the list.

f. Remove the extra "Thursday" from the list. Print the result.

The expected output for problem 1 is
```
[]
['Monday']
['Monday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
```

In [ ]:
# Print the list in each part of the problem

def days():
    # a. Create an empty. Print the result.
    l=[]
    print(l)

    # b. Add string element "Monday" to list 'days'.
    l.append("Monday")
    print(l)
    # c. Add string elements "Wednesday", "Thursday", "Thursday", "Friday", "Saturday", "Sunday", "Monday" into list 'days' using one line of code. Print the result.
    l.extend(["Wednesday", "Thursday", "Thursday", "Friday", "Saturday", "Sunday", "Monday"])
    print(l)
    # d. Insert the element "Tuesday" at the appropriate location in the list so that the days of the week are in order. Print the result.
    l.insert(1, "Tuesday")
    print(l)
    # e. Remove the last item in the list. Print the result.
    l.pop(-1)
    print(l)

    # f. Remove the extra "Thursday" from the list. Print the result.
    l.remove("Thursday")
    print(l)


# Run the function
days()

[]
['Monday']
['Monday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#### Problem 2
This problem is designed to expand our understanding of dictionaries (called, 'objects', in other programming languages). Please demonstrate the following properties of and methods for dictionaries.

a. Show how to access the value for a specified key, use June for an example.

b. Print all of the keys for the dictionary shown below.

c. Print all of the values for the dictionary shown below.

d. Demonstrate a method to find how many items are in the dictionary.

e. Demonstrate a method to add a new key value pair, "October":31, to the dictionary.

Expected output for problem 2
```
30
['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'November', 'December']
[31, 28, 31, 30, 31, 30, 31, 31, 30, 30, 31]
11
{'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July': 31, 'August': 31, 'September': 30, 'November': 30, 'December': 31, 'October': 31}
```

In [ ]:
months = {
    'January':31,
    'February':28,
    'March':31,
    'April':30,
    'May':31,
    'June':30,
    'July':31,
    'August':31,
    'September':30,
    'November':30,
    'December':31
}

def months_dict(data):

    # a. Show how to access the value for a specified key, use June for an example. Print the result.
    june_value = data["June"]
    print(june_value)
    # b. Print all of the keys for the dictionary without using the .keys() method. Store the keys in a list. Print the result.
    keys=[]
    for k in data:
        if type(k)== str:
            keys.append(k)
    print(keys)
    # c. Print all of the values for the dictionary without using the .values() method. Store the values in a list. Print the result.
    values=[]
    for v in data.items():
        values.append(v[1])
    print(values)

    # d. Find how many items (key:value pairs) are in the dictionary. Print the result.
    number_of_items = len(data.items())
    print(number_of_items)

    # e. Add a new key value pair, "October":31, to the dictionary. Print the result.
    months.update({"October": 31})
    print(months)

months_dict(months)

30
['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'November', 'December']
[31, 28, 31, 30, 31, 30, 31, 31, 30, 30, 31]
11
{'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July': 31, 'August': 31, 'September': 30, 'November': 30, 'December': 31, 'October': 31}

#### Problem 3
This problems is about sets and their operations

a.  Create an empty set

b.  Create a set that contains values 1,2,3,4,5

c.  Add the value 6 to the set

d.  Add multiple values 7,8,9 to the set

e.  Remove the 6 from the set by referencing the value itself.

f. Use a comment to explain why it is not possible to discard the 3 from the set by referencing the index.

Expected output for problem 3
```
set() <class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 7, 8, 9}
```

In [ ]:
# a. Create an empty set, print the set and its data type

def set_operations():
    # a. Create an empty set, print the set and its data type
    s = set()
    print(s, type(s))

    # b. Create a set that contains values 1,2,3,4,5. Print the result.
    s = {1,2,3,4,5}
    print(s)

    # c. Add the value 6 to the set. Print the result.
    s.add(6)
    print(s)

    # d. Add multiple values 7,8,9 using 1 command to the set. Print the result.
    s.update([7],[8],[9])
    print(s)

    # e. Remove the 6 from the set by referencing the value itself. Print the result.
    s.discard(6)
    print(s)

    # Run the function
set_operations()

    # f. Use a comment to explain why it is not possible to discard the 3 from the set by referencing the index.
    # ANSWER: You cannot use indices in sets because sets do not have any specific order to them. Repeated elements are not included in sets, so indexing a element is almost pointless.

set() <class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 7, 8, 9}

#### Problem 4
Given the following collection of stock symbols, please perform the following:

a. Identify the symbol 'DPBE' using indexing. Expected output is
```
DPBE
```

b. Write a program to destructure the array so that the final result is:

```
['TEUCF', 'BBLKF', 'NMM', 'SAIA', 'SALT', 'SB', 'TK', 'NM', 'ERA', 'TCNAF', 'URAL', 'BRSWQ', 'DPBE', 'TOPS', 'GNKWF', 'AIRTW', 'SHIPW']
```
c.  Write a program to change all of the symbols to lowercase using the .lowere() method.
```
['teucf', 'bblkf', 'nmm', 'saia', 'salt', 'sb', 'tk', 'nm', 'era', 'tcnaf', 'ural', 'brswq', 'dpbe', 'tops', 'gnkwf', 'airtw', 'shipw']
```
Research a python function that can do this for you and cite your source.

In [ ]:
stocks=[
        ['TEUCF', 'BBLKF', 'NMM', 'SAIA','SALT','SB','TK','NM','ERA'],
        ['TCNAF','URAL','BRSWQ','DPBE','TOPS','GNKWF','AIRTW','SHIPW'],
      ]

def stock_calculations(lst):
    # a. Identify the symbol 'DPBE' using indexing. Print the result.
    print(lst[1][3])

    # b. program to destructure the array. Print the result.
    new = []
    for i in lst:
            new.extend(i)
    print(new)


    # c. Change all of the symbols to lowercase using the .lower() method. Print the result.
    low = []
    for i in new:
        low.append(i.lower())
    print(low)


stock_calculations(stocks)

DPBE
['TEUCF', 'BBLKF', 'NMM', 'SAIA', 'SALT', 'SB', 'TK', 'NM', 'ERA', 'TCNAF', 'URAL', 'BRSWQ', 'DPBE', 'TOPS', 'GNKWF', 'AIRTW', 'SHIPW']
['teucf', 'bblkf', 'nmm', 'saia', 'salt', 'sb', 'tk', 'nm', 'era', 'tcnaf', 'ural', 'brswq', 'dpbe', 'tops', 'gnkwf', 'airtw', 'shipw']

#### Problem 5
This data set shows a collection of high performing and low performing stocks.  Each stock symbol is associated with a percent change.  
```
stocks_d={
    'TEUCF':6352,
    'BBLKF':125,
    'NMM':57,
    .
    .
    .
```

Write a function to calculate the average increase and the average decrease in stock values. **Return** the result as a list. The expected output is
```
[757, -66]
```

In [ ]:
s_d={
    'TEUCF':6352,
    'BBLKF':125,
    'NMM':57,
    'SAIA':53,
    'SALT':48,
    'SB':46,
    'TK':45,
    'NM':44,
    'ERA':43,
    'TCNAF':-83,
    'URAL':-83,
    'BRSWQ':-80,
    'DPBE':-70,
    'TOPS':-59,
    'GNKWF':-53,
    'AIRTW':-51,
    'SHIPW':-46
         }

def avg_stock(data):
    from numpy import mean
    # your code
    increase=[]
    decrease=[]
    for i in s_d.values():
        if i>0:
            increase.append(i)
        if i<0:
            decrease.append(i)
    return increase, decrease

    #not sure how to work the mean function in here. I've seperated the results into two lists, one for the positive percent changes and one for the negatives. I need to find the average of each list then

avg_stock(s_d)

([6352, 125, 57, 53, 48, 46, 45, 44, 43],
 [-83, -83, -80, -70, -59, -53, -51, -46])

#### Problem 6
Given the following sets,
```
a={1,2,3,4,5}
b={4,5,6,7,8}
```
use set methods to perform the following operations
a. Output the elements in a and b without repetitions. Expected output is    
```{1, 2, 3, 4, 5, 6, 7, 8}```

b. Output the values that are common to both sets. Expected output is    
```{4, 5}```

c.  Output the values in set **a** that do not appear in set **b**. Expected output is    
```{1, 2, 3}```

d.  Output the values in both sets without the common elements 4, 5. Expected output is    
```{1, 2, 3, 6, 7, 8}```.

In [ ]:
a={1,2,3,4,5}
b={4,5,6,7,8}

def partitioning_sets(s1, s2):

    # a. Output the elements in a and b without repetitions. Print the result.
    c = a.union(b)
    print(c)
    #union

    # b. Output the values that are common to both sets. Print the result.
    c = set(a) & set(b)
    print(c)
    # alternatively, c = a.intersection(b)...print(c)


    # c. Output the values in set a that do not appear in set b. Print the result.
    c = a.intersection(b)
    o = a - c
    print(o)
    #*facepalms because i'm a statistics major and couldn't just visualize this in venn diagram form.*

    # d. Output the values in both sets without the common elements 4, 5. Print the result.
    c = a.intersection(b)
    r = b - c
    o = a - c
    d = (set.union(o,r))
    print(d)




partitioning_sets(a, b)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

#### Problem 7
Let's say we have several observed values for the percent change for each of the stocks in the collection below.  

a.  Write a program that replaces the lists of values for each stock with the maximum value (```'TEUCF':[6352,6171,6053]``` would become ```'TEUCF': 6352```) for each stock and another program that does the same thing but for the minimum value. (use the .copy() method to make a copy of the dictionary)

Expected result for maximum values:
```
{'TEUCF': 6352, 'BBLKF': 125, 'NMM': 57, 'SAIA': 53, 'SALT': 49, 'SB': 46, 'TK': 45, 'NM': 44, 'ERA': 43, 'TCNAF': -81, 'URAL': -81, 'BRSWQ': -79, 'DPBE': 68, 'TOPS': -58, 'GNKWF': -52, 'AIRTW': -49, 'SHIPW': -40}
```
Expected result for minimum values:
```
{'TEUCF': 6053, 'BBLKF': 109, 'NMM': 50, 'SAIA': 50, 'SALT': 40, 'SB': 39, 'TK': 43, 'NM': 43, 'ERA': 42, 'TCNAF': -83, 'URAL': -83, 'BRSWQ': -81, 'DPBE': -70, 'TOPS': -59, 'GNKWF': -53, 'AIRTW': -51, 'SHIPW': -47}
```

b.  We would like to check which of these stocks, based on the three values, seems to be the most variable using the following formula: ```pd=((max-min)/min)*100```

If any of the stocks have a pd value greater then 15, record the name of the stock in a list.  For example, for ```'SALT':[40,49,48]``` your program should determine that ```((49-40)/40)*100 = 22.5```, and would add 'SALT' to your list. Expected output is
```
['SALT', 'SB']
```

In [ ]:
se={
    'TEUCF':[6352,6171,6053],
    'BBLKF':[109,125,111],
    'NMM':[52,50,57],
    'SAIA':[52,53,50],
    'SALT':[40,49,48],
    'SB':[39,46,46],
    'TK':[45,43,44],
    'NM':[44,44,43],
    'ERA':[43,42,43],
    'TCNAF':[-83,-81,-83],
    'URAL':[-83,-82,-81],
    'BRSWQ':[-80,-81,-79],
    'DPBE':[68,-70,67],
    'TOPS':[-59,-59,-58],
    'GNKWF':[-53,-52,-53],
    'AIRTW':[-51,-49,-50],
    'SHIPW':[-46,-40,-47]
         }

def stock_manipulations(d):

    # a. Finding max and min
        maxs=[]
        mins=[]
        keys=[d.keys()]
        values=[d.values]
        print(keys)
        print(values)
    # a.i. Maximum of each list
        k = d.keys()
        v = d.values()
        print(max(k))
        print(max(v))


    # a.ii. Minimum of each list
        print(min(k))
        print(min(v))

    # b. Percent difference

#this is returning

stock_manipulations(se)

[dict_keys(['TEUCF', 'BBLKF', 'NMM', 'SAIA', 'SALT', 'SB', 'TK', 'NM', 'ERA', 'TCNAF', 'URAL', 'BRSWQ', 'DPBE', 'TOPS', 'GNKWF', 'AIRTW', 'SHIPW'])]
[<built-in method values of dict object at 0x7f3fc7d44820>]
URAL
[6352, 6171, 6053]
AIRTW
[-83, -82, -81]